<div class="form-group schema-form-datetimepicker {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false}">

  <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">{{form.title}}</label>
  <asf-date-time-picker ng-model="$$value$$" sf-changed="form" />
  <span ng-if="form.feedback !== false"
    class="form-control-feedback"
    ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': hasSuccess(), 'glyphicon-remove': hasError() }"
    aria-hidden="true"></span>
  <span ng-if="hasError() || hasSuccess()"
    class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>
  <div class="help-block"
    ng-show="(hasError() && errorMessage(schemaError())) || form.description"
    ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description"></div>
</div>
